@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

@keyframes shrimp-confetti {
    0% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
    }
    40% {
      transform: translate(var(--confetti-x, 0px), var(--confetti-y, -100px)) scale(1);
      opacity: 1;
    }
    100% {
      transform: translate(var(--confetti-x, 0px), var(--confetti-y, 300px)) scale(0.8);
      opacity: 0;
    }
  }
  
  .animate-shrimp-confetti {
    animation: shrimp-confetti 2s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}
  
  
  